*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: rgb(237, 237, 237);
}

.container {
  padding: 10px;
  display: flex;
  width: 500px;
  flex-direction: column;
  border: white solid 1px;
  background-color: white;
  border-radius: 9px;
  box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.5);

}


.container h2{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgb(194, 194, 194);
}

.form-group{
  margin-bottom: 20px;
  display: block;
}


.form-group .error {
  color: red;
  margin-top: 0;
  text-align: end;
  font-size: small;
  font-style: italic;
}

.form-group .valid {
  color: green;
  margin-top: 0;
  text-align: end;
  font-size: small;
  font-style: italic;
}

.form-group label{
  font-size: small;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  font-size: large;
  border: gray solid 1px;
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 3px;
  height: 40px;
}

.form-group textarea {
  width: 100%;
  font-size: large;
  border: gray solid 1px;
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-group input:focus {
  border: black solid 2px;
  outline: none;
}

.form-group textarea:focus {
  border: black solid 2px;
  outline: none;
}

.submit-btn{
  display: block;
  width: 100%;
  padding: 10px;
  font: 1em sans-serif;
  border: 0;
  border-radius: 5px;

}

.submit-btn:hover{
  cursor: pointer;
  background-color: rgb(201, 202, 202);
}